<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	
	<style type="text/css">
    .form_layout p { margin-left:10px; 
    				margin-bottom:10px; }
    			h4 { margin-left: 10px; }
    			h5 { margin-left: 10px; }
    			h3 { margin-left: 10px; }
  	</style>

</head>
<body>

<style type="text/css">
	.navbar-nav>li>a.sign:hover {
    color: #777;
    background-color: transparent;
}
</style>

<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
				<a href="{% url 'index' %}" class="navbar-brand" style="text-align:center">Duke ECE<br>Inventory</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-nav-demo">
				<ul class="nav navbar-nav">
					<li><a class="sign"><div style="text-align: center;">Signed in as<br>{{ user }}</div></a></li>
					{% if user.is_staff %}
					<li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manager<span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><a href="{% url 'cart requests' %}">Service Requests</a></li>
			            <li><a href="{% url 'loan handler' %}">Loans</a></li>
			            <li><a href="{% url 'backfill handler' %}">Backfills</a></li>
			            <li><a href="{% url 'direct-disburse' %}">Direct Disburse</a></li>
			            <li role="separator" class="divider"></li>
			            <li><a href="{% url 'emails' %}">Emails<span style="margin-left:5px" class="glyphicon glyphicon-envelope" aria-hidden="true"> </span></a></li>
			            <li><a href="{% url 'tag handler' %}">Tags<span style="margin-left:5px" class="glyphicon glyphicon-tags" aria-hidden="true"> </span></a></li>
      					<li><a href="{% url 'logs' %}">Logs<span style="margin-left:5px" class="glyphicon glyphicon-list-alt" aria-hidden="true"> </span></a></li>
			          </ul>
      				{% if user.is_superuser %}
      				<li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><a href="{% url 'users' %}">Users<span style="margin-left:5px" class="glyphicon glyphicon-user" aria-hidden="true"> </span></a></li>
      					<li><a href="{% url 'custom fields' %}">Custom Fields<span style="margin-left:5px" class="glyphicon glyphicon-tasks" aria-hidden="true"> </span></a></li>
      					<li><a href="{% url 'import' %}">Import Data<span style="margin-left:5px" class="glyphicon glyphicon-upload" aria-hidden="true"> </span></a></li>
			          </ul>
      				
      				{% endif %}
      				{% endif %}
      				{% if not user.is_anonymous %}
      				<li><a href="{% url 'requests' %}"><div style="text-align: center;">My Requests</div></a></li>
      				<li><a href="{% url 'loan viewer' %}">My Loans</a></li>
      				{% endif %}
      				<li><a href="{% url 'developers' %}">Developers</a></li>
      				{% if not user.is_anonymous %}
      				<li><a href="{% url 'checkout' %}">My Cart <span style="margin-left:5px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> </span></a></li>
      				{% endif %}

				</ul>
				<ul class="nav navbar-nav navbar-right">
					{% if user.is_anonymous %}
      				<li><a href="{% url 'login' %}">Login<span style="margin-left:5px" class="glyphicon glyphicon-log-in" aria-hidden="true"> </span></a></li>
      				{% else %}
      				<li><a href="{% url 'logout' %}?next={% url 'index' %}">Logout<span style="margin-left:5px" class="glyphicon glyphicon-log-out" aria-hidden="true"> </span></a></li>
      				{% endif %}
				</ul>
			</div>
		</div>
	</nav>
	{% block content %}
    {% endblock %}
</body>
</html>
