{% extends "base.html" %}

{% block content %}

<h1 style="margin-left:12px">Bulk Import</h1>

<p style="margin-left:10px">
  Use this tool for the bulk import of many items at once.
</p>

<div class="form-group" style="margin-left:10px">
  <form method="POST" id="import">
    {% csrf_token %}
    <div>
      <label for="import_data">Data:</label>
    </div>
    <div>
      <textarea label="import_data" name="import_data" id="import_data" rows="10" cols="50"></textarea>
    </div>
    <div>
      <input type="submit" value="Import">
    <div>
  </form>
</div>

{% endblock %}
