{% extends "base.html" %}

{% block content %}

<h1 style="margin-left:12px">Bulk Import</h1>

<p style="margin-left:10px">
  Use this tool for the bulk import of many items at once. Please refer to the
  style guide below for formatting.
</p>

<div class="form-group" style="margin-left:10px">
  <form method="POST" id="import">
    {% csrf_token %}
    <div>
      <label for="import_data">Data:</label>
    </div>
    <div>
      <textarea label="import_data" name="import_data" id="import_data" rows="10" cols="50"></textarea>
    </div>
    <div>
      <input class="btn btn-primary" type="submit" value="Import Data">
    <div>
  </form>
</div>

<div style="margin-left:10px">
  <h3>Format - JSON</h3>
  <p>
    Import multiple items by following JSON conventions, i.e., enclosing
    comma-separated JSON objects in square brackets (i.e., [{item 1},{item 2},{item 3},...]).
  </p>
  <p>
    A sample JSON item is shown below. The acceptable tags are: 'item_name',
    'count', 'model_number', 'description', 'tags', 'custom_fields'.
  </p>
  <p>
    NOTE: 'item_name' and 'count' are required, and 'count' must be a positive integer.
    If a tag which does not exist is input, it will be created in the system. However,
    if a custom field which does not exist is input, an error will occur.
  </p>
  <p>
    {
      <div style="margin-left:10px">
        <p>'item_name': "str",</p>
        <p>'count': int,</p>
        <p>'model_number': "str",</p>
        <p>'description': "str",</p>
        <p>'tags': [<div style="margin-left:10px">{<div style="margin-left:10px">'tag':"str"</div>},<p>{<div style="margin-left:10px">'tag':"str"</div>},...<p style="margin-left:-10px">],</p></p></div></p>
        <p>'custom_fields': [<div style="margin-left:10px">{<div style="margin-left:10px">'field_name':"str",<p>'field_value':int/float/"str"</p></div>},...</div>]</p>
      </div>
    }
  </p>
</div>

{% endblock %}
