{% extends "base.html" %}

{% block content %}

<div class="page-header" style="padding-left: 15px">
  <h1>Inventory <small>Custom Fields</small></h1>
</div>

<head>
  <style type="text/css">
    .form_layout p { margin-left:10px;
    				margin-bottom:10px; }
    			h4 { margin-left: 10px; }
    			h5 { margin-left: 10px; }
  </style>
</head>

<div class="form_layout">
<form method="POST">
	{% csrf_token %}
	<h4> <b>Create a New Custom Field</b></h4>
	{{add_form.as_p}}

	<p><input class="btn btn-default" type="submit" value="Create"></p>
</form>
</div> <hr>

<div class="form_layout" >
<form method="POST" action="{% url 'cf delete conf' %}">
	{% csrf_token %}
	<h4> <b>Delete Custom Fields</b></h4>
	{{delete_form.as_p}}

	<p><input class="btn btn-default" type="submit" value="Delete"></p>
</form>
</div> <br><br>

{% endblock %}
