<!DOCTYPE html>
{% extends "base.html" %}
<html>
<head>
	<title>Inventory</title>
</head>
<body>

{% block content %}

<div class="page-header" style="padding-left: 15px">
  <h1>Inventory <small>Create User</small></h1>
</div>

{% if error %}
{{error}}
{% endif %}

<form class="navbar-form navbar-top" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label for="username_box">Username:</label>
    <input id="username_box" name="username_box" type="text" class="form-control" placeholder="Username">
    <label for="password_box">Password:</label>
    <input id="password_box" name="password_box" type="password" class="form-control" placeholder="Password">
  </div>
  <button id="submit" type="submit" class="btn btn-default">Submit</button>
</form>

{% endblock %}
</body>
</html>