<!DOCTYPE html>
{% extends "base.html" %}
<html>
<head>
	<title>Inventory</title>
</head>
<body>

{% block content %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
        var user_input=$('input[id="user_box"]');
        var users = [
      {% for user in users %}
          "{{user}}",
      {%endfor%}
    ];
        user_input.autocomplete({
          source: users,
          minLength: 2
        });
      } );


    //   keeps same width as box
      jQuery.ui.autocomplete.prototype._resizeMenu = function () {
          var ul = this.menu.element;
          ul.outerWidth(this.element.outerWidth());
        }
</script>


<div class="page-header" style="padding-left: 15px">
  <h1>Inventory <small>Users</small></h1>
</div>

{% if error %}
{{error}}
{% endif %}

<div>
  <a class="btn btn-link" href="{% url 'create-user' %}">Create New User</a>
</div>

<form class="navbar-form navbar-top" role="search" type="get" action=".">
  <div class="form-group">
    <label for="user_box">Search User:</label>
    <input id="user_box" name="user_box" type="text" class="form-control" placeholder="Search user">
  </div>
  <button id="search_submit" type="submit" class="btn btn-default">Search<span style="margin-left:5px" class="glyphicon glyphicon-search" aria-hidden="true"> </span></button>
</form>

<div style="padding: 15px">
<table class="table table-striped table-bordered table-hover">
  <thead class="thead" style="background-color: black; color: white">
        <tr>
            <th>#</th>
            <th>User</th>
            <th>Email</th>
            <th>Manager</th>
            <th>Admin</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <th scope="row">{{user.id}}</th>
            <td><a href="{% url 'detail-user' user.id %}">{{user.username}}</a></td>
            <td>{{user.email}}</td>
            <td>{{user.is_staff}}</td>
            <td>{{user.is_superuser}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% if users.has_other_pages %}
  <ul class="pagination">
    {% if users.has_previous %}
      <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in users.paginator.page_range %}
      {% if users.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if users.has_next %}
      <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}

{% endblock %}
</body>
</html>
