{% extends "base.html" %}

{% block content %}

{% if request_list %}
	<h3>Outstanding Requests</h3>
	<ul>
	{% for request in request_list %}
		{% if request.cart_status == "O" %}
		<li>
		<p><a href="{% url 'view request details' cart_request_id=request.id %}"> Reason: {{request.cart_reason}}</a><b><a style="margin-left:24px" href="{% url 'delete request' request.id%}">Delete Request</a></b></p>
		</li>
		{% endif %}
	{% endfor %}
	</ul>

	<h3>Denied Requests</h3>
	<ul>
	{% for request in request_list %}
		{% if request.cart_status == "D" %}
		<li>
		<p><a href="{% url 'view request details' cart_request_id=request.id %}">Reason: {{request.cart_reason}}</a> </p>
		<p>Administrator Comment: {{request.cart_admin_comment}}</p>
		</li>
		{% endif %}
	{% endfor %}
	</ul>

	<h3>Approved Requests</h3>
	<ul>
	{% for request in request_list %}
		{% if request.cart_status == "A" %}
		<li>
		<p><a href="{% url 'view request details' cart_request_id=request.id %}">Reason: {{request.cart_reason}} </a></p>
		<p>Administrator Comment: {{request.cart_admin_comment}}</p>
		</li>
		{% endif %}
	{% endfor %}
	</ul>


{% else %}
	<head>
  <style type="text/css">
    .options_layout p { margin-left:10px; 
    				margin-bottom:10px; }
  </style>
</head>

<div class="options_layout">
<h3 style="margin-left:10px">You Haven't Made Any Requests</h3>
<p> Perhaps you'd like to... </p>
<p><a href="{% url 'index' %}">View Inventory</a></p>
<p><a href="{% url 'checkout' %}">View Your Cart</a></p>
<p><a href="{% url 'requests' %}">View Your Requests</a></p>
</div>
{% endif %}
{% endblock%}
