{% extends "base.html" %}

{% block content %}
<h3 style="margin-left:12px">Reason: {{current_request.cart_reason}}</h3>
{% if current_request.cart_status == 'O' %}
<h3 style="margin-left:12px">Request is Outstanding.</h3>
{% elif current_request.cart_status == 'D' %}
<h3 style="margin-left:12px">Request was Denied.</h3>
<h3 style="margin-left:12px">Admin: {{current_request.cart_admin_comment}}</h3>
{% elif current_request.cart_status == 'A' %}
<h3 style="margin-left:12px">Request was Approved for Disbursement.</h3>
<h3 style="margin-left:12px">Admin: {{current_request.cart_admin_comment}}</h3>
{% elif current_request.cart_status == 'L' %}
<h3 style="margin-left:12px">Request was Approved for Loan.</h3>
<h3 style="margin-left:12px">Admin: {{current_request.cart_admin_comment}}</h3>
{% endif %}

<div>
<form class="navbar-form navbar-top" role="search" action="." method="POST" enctype="multipart/form-data"> 
{% csrf_token %}
<table class="table table-condensed" style="border:1px solid black; margin-left:15px; width:95%">

      <tr class="active"> 
      <th> Item </th><th> Amount Requested </th><th> Status </th><th>Admin Comment</th>{% if not current_request.cart_status == 'A' and not current_request.cart_status == 'D' %}<th>Check for Backfill</th>{% endif %}
      </tr>

      <!-- rows for each cart request -->
      {% for subrequest in subrequests %}
      <tr>
            <!--make the actual tablerow -->
            <th><a href="{{ subrequest.item_id.get_absolute_url }}">{{subrequest.item_id}}</a></th>
            <th><span class="badge">{{subrequest.quantity}}</span></th>
            <th>{{subrequest.get_status_display}}</th>
            <th>{{subrequest.admin_comment}}</th>
            {% if not current_request.cart_status == 'A' and not current_request.cart_status == 'D' %}
            <th>{% if subrequest.suggestion != 'B' and subrequest.status != 'B' and subrequest.status != 'R' %}<input id="check[]" name="check[]" type="checkbox" value="{{subrequest.item_id.pk}}">{% else %}{% if subrequest.status == 'R' %} {% else %}Requested for Backfill{% endif %}{% endif %}</th>
            {% endif %}
      </tr>
      {% endfor %}
</table>
     
{% if not current_request.cart_status == 'A' and not current_request.cart_status == 'D' %}
  <div class="form-group">
    <label for="receipt">Receipt:</label>
    <input id="receipt" name="receipt" type="file" accept=".pdf" class="form-control" required>
  </div>
  <button id="save_request" type="submit" class="btn btn-default">Request for Backfill</button>
</form>
</div>
{% endif %}

{% endblock %}