<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<html>
{% block content %}
<head>
	<title>{{item.item_name}}</title>
</head>
<body>
<div style="padding-left: 15px">
  <h1>{{ item.item_name }}</h1>
  <p>Available: {{item.count}}</p>
  <p>Model: {{item.model_number}}</p>
  <p>Description: {{item.description}}</p>
</div>
<div style="padding-left: 15px">
  <h2>Tags</h2>
  {% for tag in tags %}
    <span class="badge">{{tag}}</span>
  {% endfor %}
</div>
<div style="padding-left: 15px">
  {% for cf in custom %}
    <p>{{cf}}</p>
  {% endfor %}
</div>
<h2> Requests with this item: </h2>
<ul class="list-group">
	{% for request in requests %}
  	<li class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">Reason: {{request.reason}} <span style="margin-left:10px" class="badge">{{request.quantity}}</span></div></li> 
	{% endfor %}
</ul>

<h1 style="padding-left: 15px">Add Item to Cart: </h1>
<div>
<form class="navbar-form navbar-top" role="search" action="{% url 'request' item.id %}" method="POST">	
  {% csrf_token %}
  <div class="form-group">
    <label for="quantity">Quantity:</label>
    <input id="quantity" name="quantity" type="number" class="form-control">
  </div>
  <button id="save_request" type="submit" class="btn btn-default">Add to Cart</button>
</form>
</div>

{% endblock %}
</body>
</html>
