<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
<html>
{% block content %}
<head>
	<title>{{item.item_name}} </title>
</head>
<body>

<script type="text/javascript">
  function dynamic(elem){
    $(elem).parent().parent().nextUntil('h2').css('display', function(i,v){
        return this.style.display === 'table-row' ? 'none' : 'table-row';
    });
};
</script>

<style type="text/css">
  tr {
    display: none;
}

tr.active {
    display: table-row;
}
ul.pagination {
  display: none;
}
</style>

<div style="padding-left: 15px">
  <h1>{{ item.item_name }}{% if asset_tag %}, Asset Tag: {{asset_tag}} {% endif %}{% if request.user.is_staff or request.user.is_superuser %}
        <small>
        {% if is_asset_instance %}
        <a href="{% url 'modify an asset' asset_id=item.id conf=0%}" style="margin-right:15px">
        {% else %}
        <a href="{% url 'modify_an_item' item_id=item.id%}" style="margin-right:15px">
        {% endif %}
        <span title="Modify" style="margin-left:15px; color:green" class="glyphicon glyphicon-edit" aria-hidden="true"> </span></a>
        {% if request.user.is_superuser %}
          <a href="{% url 'delete check' item_id=item.id %}" ><span title="Delete" style="margin-left:5px; color:red" class="glyphicon glyphicon-remove" aria-hidden="true"> </span></a>
        {% endif %}</small>{% endif %}</h1>
  <p>Available: {{item.count}}</p>
  {% if request.user.is_staff and not is_asset_instance %}
  <p>Minimum Stock Threshold: {{item.minimum_stock}} {% if item.understocked %}<span style="color: red">(Understocked)</span>{% endif %}</p>
  {% endif %}
  <p>Model: {{item.model_number}}</p>
  <p>Description: {{item.description}}</p>
</div>
<div style="padding-left: 15px">
  <!--Custom Fields-->
  {% for cf in custom %}
    <p>{{cf}}</p>
  {% endfor %}
</div>
<div style="padding-left: 15px">
  <h2>Tags</h2>
  {% for tag in tags %}
    <span class="badge">{{tag}}</span>
  {% endfor %}
  {% if tags|length == 0 %}
  <p>None</p>
  {% endif %}
</div>
{% if item.is_asset and not is_asset_instance %}
<h2 style="margin-left:15px"> Asset Instances </h2>
<table class="table table-condensed" style="border:1px solid black; margin-left:15px; width:95%">

  <tr class="active">
  <th> Asset Tag <input type="button" value="Show/Hide" onClick="dynamic(this);"></th><th>In Stock?</th><th>Actions</th>
  </tr>
  {% for asset in assets %}
    <!--make the actual tablerow -->
    <tr>
    <th><a href="{% url 'asset detail' asset.pk %}">{{asset.asset_tag}}</a> </th>
    <th>{% if asset.quantity == 0 %} No {% else %} Yes {% endif %}</th>
    <th>{% if request.user.is_staff or request.user.is_superuser %}
        <small><a href="{% url 'modify an asset' asset_id=asset.id conf=0%}" style="margin-right:15px"><span title="Modify" style="margin-left:15px; color:green" class="glyphicon glyphicon-edit" aria-hidden="true"> </span></a>
        {% if request.user.is_superuser %}
          <a href="{% url 'delete check' item_id=asset.id %}" ><span title="Delete" style="margin-left:5px; color:red" class="glyphicon glyphicon-remove" aria-hidden="true"> </span></a>
        {% endif %}</small>{% endif %}</th></tr>
  {% endfor %}
  </table>
{% endif %}


{% if requests|length > 0 %}
<h2 style="padding-left: 15px">Requests with this item</h2>

<table class="table table-condensed" style="border:1px solid black; margin-left:15px; width:95%">

  <tr class="active">
  <th> Owner <input type="button" value="Show/Hide" onClick="dynamic(this);"></th><th>Reason</th><th>Quantity</th><th>Status</th>
  </tr>
  {% for request in requests %}
    <!--make the actual tablerow -->
    <tr>
    <th>{{request.owner}} </th>
    <th>{% if user.is_staff %}
    <a href="{% url 'cart request details' request.parent_cart.id %}">
    {% else %}
    <a href="{% url 'view request details' request.parent_cart.id %}">
    {% endif %}
    {{request.reason}}</a></th>
    <th><span style="margin-left:10px; margin-right:20px" class="badge">{{request.quantity}}</span></th>
    <th>{{request.get_status_display}}</th></tr>
  {% endfor %}
  </table>
{% endif %}

{% if not user.is_anonymous %}
<h2 style="padding-left: 15px">Add Item to Cart: </h2>
<div>
<form class="navbar-form navbar-top" role="search" action="{% url 'request' item.id %}" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label for="quantity">Quantity:</label>
    <input id="quantity" name="quantity" type="number" required step="1" min="1" class="form-control">
  </div>
  <button id="save_request" type="submit" class="btn btn-default">Add to Cart</button>
</form>
</div>
{% endif %}
{% endblock %}
</body>
</html>
