{% extends "base.html" %}

{% block content %}

{% if request_list %}
	<h3>Outstanding Requests</h3>
	<ul>
	{% for request in request_list %}
		{% if request.status == "O" %}
		<li>
		<p>Item: <a href="/{{request.item_id_id}}""> {{request.item_id}};</a></p>
		<p>Quantity: {{request.quantity}}</p>
		<p>Reason: {{request.reason}} </p>
		<p><a href="/request/{{request.pk}}">Service This Request</a></p>
		</li>
		{% endif %}
	{% endfor %}
	</ul>

	<h3>Denied Requests</h3>
	<ul>
	{% for request in request_list %}
		{% if request.status == "D" %}
		<li>
		<p>Item: <a href="/{{request.item_id_id}}""> {{request.item_id}};</a></p>
		<p>Requested Quantity: {{request.quantity}}</p>
		<p>Reason: {{request.reason}} </p>
		<p>Administrator Comment: {{request.admin_comment}}</p>
		</li>
		{% endif %}
	{% endfor %}
	</ul>

	<h3>Approved Requests</h3>
	<ul>
	{% for request in request_list %}
		{% if request.status == "A" %}
		<li>
		<p>Item: 
		<a href="/{{request.item_id_id}}""> {{request.item_id}}</a></p>
		<p> Requested Quantity: {{request.quantity}} </p>
		<p> Reason: {{request.reason}} </p>
		<p>Administrator Comment: {{request.admin_comment}}</p>
		</li>
		{% endif %}
	{% endfor %}
	</ul>


{% else %}
	<p> No Requests Available </p>
{% endif %}
{% endblock%}