{% extends "base.html" %}

{% block content %}
	<h1>Active Requests</h1>

	<!-- table header -->
	<table class="table table-condensed">
	<tr class="active"> 
	<th> Requestee </th><th> Reason </th><th> Actions </th><th>pk</th>
	</tr>

	<!-- rows for each cart request -->
	{% for cart_request_and_v in cart_requests_and_v %}
		<!-- color the row based on validity -->
		{% if cart_request_and_v.1 %}
		<tr class="success">
		{% else %}
		<tr class="danger">

		{% endif %}

		<!--make the actual tablerow -->
		<th> {{cart_request_and_v.0.cart_owner}} </th>
		<th> {{cart_request_and_v.0.cart_reason}} </th>
		<th> <a href="{% url 'cart request details' cart_request_id=cart_request_and_v.0.pk %}"> View Details </a> 
		<th> {{cart_request_and_v.0.pk}}</th>
		</tr>


	{% endfor %}
	</table>

{% endblock %}