{% extends 'base.html' %}

{% block content %}
<div class="page-header" style="padding-left: 15px">
  <h1>Inventory <small>Emails</small></h1>
</div>

<div style="padding-left: 15px">
<p>Loan Reminder Body: {{body}}</p>
<p>Email Subject Line Tag: {{tag}}</p>
{% if subscribed %}
<p>You are currently subscribed to system emails</p>
{% else %}
<p>You are not currently subscribed to system emails</p> 
{% endif %}
<h3>Loan Reminder Dates:</h3>

<ul class="list-group">
{% for date in dates %}
<li class="list-group-item">{{date.date}}
<a href="{% url 'delete-loan-date' date.id %}" ><span style="margin-left:5px; color:red" class="glyphicon glyphicon-remove" title="Delete" aria-hidden="true"> </span></a></li>
{% endfor %}
</ul>

<style type="text/css">
    td {
        padding: 5px;
    }
</style>

<h3>Edit:</h3>
<form method="POST" style="padding-left: 15px">
    {% csrf_token %}
    <table border="2" style="border-collapse: collapse;">
    {% if subscribed %}
    <tr>
    <td>
    <label for="subscribed">Subscribed:</label>
    </td>
    <td>
    <input id="subscribed" name="subscribed" type="checkbox" checked value="subscribed"></td></tr>
    {% else %}
    <tr><td>
    <label for="subscribed">Subscribed:</label>
    </td>
    <td>
    <input id="subscribed" name="subscribed" type="checkbox" value="subscribed"></td></tr>
    {% endif %}
    <tr>
    <td>
    <label for="tag">Email Subject Tag:</label>
    </td>
    <td>
    <input id="tag" name="tag" type="text" placeholder="{{tag}}"></td></tr>
    <tr>
    <td>
    <label for="body">Body:</label></td>
    <td>
    <textarea id="body" style="vertical-align: top" name="body" placeholder="{{body}}" rows="3"></textarea></td></tr>
    <tr>
    <td>
    <label for="date">Add Reminder Date:</label></td>
    <td><input id="date" name="date" type="date" value="" />
    </td></tr>
    </table>
    <input type="submit" value="Update" style="margin: 15px 0 15px 0">
</form>

{% endblock %}