{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
        var item_input=$('input[id="item_box"]');
        var items = [
      {% for item in items %}
          "{{item}}",
      {%endfor%}
    ];
        item_input.autocomplete({
          source: items,
          minLength: 2
        });
        var user_input=$('input[id="user_box"]');
        var users = [
      {% for user in users %}
          "{{user}}",
      {%endfor%}
    ];
        user_input.autocomplete({
          source: users,
          minLength: 2
        });
      } );

    //   keeps same width as box
      jQuery.ui.autocomplete.prototype._resizeMenu = function () {
          var ul = this.menu.element;
          ul.outerWidth(this.element.outerWidth());
        }
</script>

<form class="navbar-form navbar-top" role="search" type="GET" action=".">
  <div class="form-group">
	<label for="item_box">Search Item:</label>
	<input id="item_box" name="item_box" type="text" class="form-control" placeholder="Search item">
	<label for="user_box">Search User:</label>
	<input id="user_box" name="user_box" type="text" class="form-control" placeholder="Search user">
	  <button id="search_submit" type="submit" class="btn btn-default">Search<span style="margin-left:5px" class="glyphicon glyphicon-search" aria-hidden="true"> </span></button>

</div>
</form>

<h3 style="margin-left:15px"> Active {% if loan %} Loans {% else %} Backfills {% endif %} </h3>
<table class="table table-condensed" style="border:1px solid black; margin-left:15px; width:95%">

	<tr class="active"> 
	<th> {% if loan %} Loan {% else %} Backfill {% endif %} Owner</th><th>Reason</th><th>Item</th><th> Amount {{reqeust_list.0.get_status_display}} </th><th> Actions </th>
	</tr>
	{% for req in request_list %}
		<!--make the actual tablerow -->
		<th>{{req.owner.username}}</a> </th>
    <th>{{req.reason}}</th>
		<th><a href='/{{req.item_id.pk}}'> {{req.item_id}}</a> </th>
		<th> {{req.quantity}} </th>
		<th>{% if req.suggestion == 'B' %}
    <span style="color: red">Backfill Requested <a href="{% url 'old cart request details' cart_request_id=req.parent_cart.pk %}"> (View Details)</a></span>
    {% endif %}<a style = "margin-right:10px" href="{% url 'disburse loaned' req.pk %}">Disburse</a>
			<a style="margin-right:10px" href="{% url 'return loaned' req.pk %}">{% if req.status == 'B' %}Mark Backfill as Satisfied{% else %}Mark as Returned{% endif %}</a>
      {% if loan %}
      <a href="{% url 'change status' request_id=req.pk new_status='B' %}">Convert To Backfill</a></th>
      {% else %}
      <a href="{% url 'change status' request_id=req.pk new_status='L' %}">Convert To Loan</a></th>
      {% endif %}
      </th>
		</tr>

	{% endfor %}
	</table>

{% endblock %}