{% extends "base.html" %}

{% block content %}

<head>
  <style type="text/css">
    .form_layout p { margin-left:10px; 
    				margin-bottom:10px; }
    			h4 { margin-left: 10px; }
    			h5 { margin-left: 10px; }
  </style>
</head>

<div class="form_layout">
<form method="POST" action="{% url 'modify tag' %}">
	{% csrf_token %}
	<h4> <b>Change the Name of a Current Tag </b></h4>
	{{modify_form.as_p}}

	<p><input type="submit" value="Modify"></p>
</form>
</div> <br><br>

<div class="form_layout" >
<form method="POST" action="{% url 'create tag' %}">
	{% csrf_token %}
	<h5 style="color:red"><b>Tag Already Exists</b> </h5>
	<h4> <b>Create a New Tag </b></h4>
	{{create_form.as_p}}

	<p><input type="submit" value="Create"></p>
</form>
</div><br><br>

<div class="form_layout" >
<form method="POST" action="{% url 'delete tag conf' %}">
	{% csrf_token %}
	<h4> <b>Delete Tags </b></h4>
	{{delete_form.as_p}}

	<p><input type="submit" value="Delete"></p>
</form>
</div>


{% endblock %}